body {
  background-color: rgb(171, 152, 255);
}

section {
  background-color: rgba(255,255,255,.9);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 40px;
}


.content {
  margin: 40px auto;
  max-width: 850px;
}

header {
  display: flex;
  /* padding: 40px; */
}

header img {
  width: 100%;
  height: auto;
  max-width: 200px;
}

.about-container {
  padding: 25px;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.about-links {
  display: flex;
}

.button {
  border-radius: 1000px;
  color: white;
  background-color: black;
  padding: 15px 25px;
  margin-right: 10px;
}

a {
  text-decoration: none;
}

.about-blurb {
  padding: 40px;
}

.about-blurb p {
  margin-bottom: 20px;
}

#projects {
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 0;
}

.project {
  display: flex;
  background-color: rgba(255,255,255,.9);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 40px;
}

.project img {
  width: 400px;
}

.project-detail {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-detail p {
  flex-grow: 1;
}

.project-links {
  display: flex;
}